<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.shiftcalendar"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name=".ShiftCalendar"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
            android:label="Manage Shifts"
            android:name=".ManageShifts">

        </activity>
        
        <activity
            android:label="Edit Shift"
            android:name=".ModifyShift">
        </activity>
        
        <activity
            android:label="Month View"
            android:name=".ViewMonth">
            
        </activity>
        
        <activity
            android:label="Assign Shifts"
            android:name=".AssignShifts"
            android:screenOrientation="portrait">
            
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".MainMenu">
        
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
            
    </application>

</manifest>